@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-color: #f8f9fa;
}

.banner {
  background-color: #e0ffe0;
  padding: 40px 0;
  border-radius: 10px;
}

h1 {
  color: #2c3e50;
  font-weight: bold;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 12px 24px;
}

.banner {
  background-image: url('../images/banner.jpg'); 
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  border-radius: 10px;
  color: white;
}
.btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
   padding-bottom: 20px .4s ease-in-out, border-color .3s ease;
  border-color: rgb(241, 245, 234);
}
.nav-item:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  padding-bottom: 20px .4s ease-in-out, border-color .3s ease;
  border-color: greenyellow;
}

.btn{
    border-bottom: 1px solid transparent ;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;

}

#carouselGarage {
  max-height: 100px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#carouselGarage img {
  height: 100px;
  object-fit: cover;
}




